ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
AUTH_TOKEN=

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=
SPOTIFY_REDIRECT_URI=https://your-twilio-domain.twil.io/spotify-callback
SPOTIFY_REFRESH_TOKEN=
SPOTIFY_SOURCE_PLAYLIST_ID=
SPOTIFY_DESTINATION_PLAYLIST_ID=
SPOTIFY_LOOKBACK_MINUTES=60
